[Unit]
Description=MiniDLNA is a DLNA/UPnP-AV server software
After=syslog.target local-fs.target network.target

[Service]
Type=forking
PIDFile=/var/run/minidlna/minidlna.pid
ExecStart=/usr/sbin/minidlnad -P /var/run/minidlna/minidlna.pid -f /etc/minidlna.conf
User=minidlna
Group=minidlna

[Install]
WantedBy=multi-user.target
